CovidBali/testingPlotlyIndoStates/indo_level1_id.geojson

CovidBali/testingDash/OwnCode/indo_geo.json

CovidBali/Data/

CovidBali/testingPlotlyIndoStates/indoplotly.ipynb
CovidBali/testingDash/__pycache__/test.cpython-37.pyc
CovidBali/CovidBali/CovidBali/dailyCases.json
CovidBali/CovidBali/CovidBali/spiders/__pycache__/dailyNewBaliCases.cpython-37.pyc
CovidBali/CovidBali/CovidBali/spiders/__pycache__/oldBaliCases.cpython-37.pyc
CovidBali/testingDash/plotly apps-dash-oil-and-gas/data/indo_level1_id.geojson
